<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.koodalnraghavan">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="tce.education.koodalnraghavan.SubFolder"></activity>
        <activity android:name="tce.education.koodalnraghavan.WebVideo" />
        <activity android:name="tce.education.koodalnraghavan.WebPdf" />
        <activity android:name="tce.education.koodalnraghavan.Others" />
        <activity android:name="tce.education.koodalnraghavan.Purchace" />
        <activity android:name="tce.education.koodalnraghavan.GalleryViewer" />
        <activity android:name="tce.education.koodalnraghavan.ContactUs" />
        <activity android:name="tce.education.koodalnraghavan.BabyNames" />
        <activity
            android:name="tce.education.koodalnraghavan.JodhidamContactVideoPLayer"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden" />
        <activity android:name="tce.education.koodalnraghavan.Dance" />
        <activity android:name="tce.education.koodalnraghavan.Settings" />
        <activity android:name="tce.education.koodalnraghavan.Sambavanai" />
        <activity android:name="tce.education.koodalnraghavan.Thinachariyai" />
        <activity android:name="tce.education.koodalnraghavan.Azhwarmanam" />
        <activity android:name="tce.education.koodalnraghavan.KadhaiKekumNeram" />
        <activity android:name="tce.education.koodalnraghavan.FreeDownload" />
        <activity android:name="tce.education.koodalnraghavan.ThinamOruKural" />
        <activity android:name="tce.education.koodalnraghavan.PdfViewer" />
        <activity android:name="tce.education.koodalnraghavan.eBooksDisplay" />
        <activity android:name="tce.education.koodalnraghavan.home" />
        <activity android:name="tce.education.koodalnraghavan.jodhidam" />
        <activity android:name="tce.education.koodalnraghavan.AboutUs" />
        <activity
            android:name="tce.education.koodalnraghavan.VideoPlayer"
            android:configChanges="keyboardHidden|screenSize|layoutDirection|orientation" />
        <activity android:name="tce.education.koodalnraghavan.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>